body.placeBox * {
  cursor: url('placeBox.png') 16 16, auto !important;
}

body.placeBulldozer * {
  cursor: url('placeBulldozer.png') 16 16, auto !important;
}

body.removeTool * {
  cursor: url('removeTool.png') 16 16, auto !important;
}

body.placeManUD * {
  cursor: url('placeManUD.png') 16 16, auto !important;
}

body.placeManLR * {
  cursor: url('placeManLR.png') 16 16, auto !important;
}

body.placeManDU * {
  cursor: url('placeManDU.png') 16 16, auto !important;
}

body.placeDrill * {
  cursor: url('placeDrill.png') 16 16, auto !important;
}

body.placeFurnace * {
  cursor: url('placeFurnace.png') 16 16, auto !important;
}

body.placeFactory * {
  cursor: url('placeFactory.png') 16 16, auto !important;
}

body.placeWall * {
  cursor: url('placeWall.png') 16 16, auto !important;
}


body.placeManRL * {
  cursor: url('placeManRL.png') 16 16, auto !important;
}

body.componentsF * {
  cursor: url('componentsF.png') 16 16, auto !important;
}

body.boxesF * {
  cursor: url('boxesF.png') 16 16, auto !important;
}

body.mansF * {
  cursor: url('mansF.png') 16 16, auto !important;
}

body.furnaceF * {
  cursor: url('furnaceF.png') 16 16, auto !important;
}

body.factoryF * {
  cursor: url('factoryF.png') 16 16, auto !important;
}

body.bulldozerF * {
  cursor: url('bulldozerF.png') 16 16, auto !important;
}

body.drillsF * {
  cursor: url('drillsF.png') 16 16, auto !important;
}

body.componentsF * {
  cursor: url('componentsF.png') 16 16, auto !important;
}

body.wallF * {
  cursor: url('wallF.png') 16 16, auto !important;
}


@keyframes signalPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


