.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  justify-items: center;  /* Центрируем элементы по горизонтали */
  align-items: center;    /* Центрируем элементы по вертикали */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  font-size: 24px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.grid-item.empty {
  background-color: #fff;
}

.grid-item.ore {
  background-color: #ccc;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
