body.placeBox * {
  cursor: url('placeBox.png') 16 16, auto !important;
}

body.placeBulldozer * {
  cursor: url('placeBulldozer.png') 16 16, auto !important;
}

body.removeTool * {
  cursor: url('removeTool.png') 16 16, auto !important;
}

body.placeManUD * {
  cursor: url('placeManUD.png') 16 16, auto !important;
}

body.placeManLR * {
  cursor: url('placeManLR.png') 16 16, auto !important;
}

body.placeManDU * {
  cursor: url('placeManDU.png') 16 16, auto !important;
}

body.placeDrill * {
  cursor: url('placeDrill.png') 16 16, auto !important;
}

body.placeFurnace * {
  cursor: url('placeFurnace.png') 16 16, auto !important;
}

body.placeFactory * {
  cursor: url('placeFactory.png') 16 16, auto !important;
}

body.placeWall * {
  cursor: url('placeWall.png') 16 16, auto !important;
}


body.placeManRL * {
  cursor: url('placeManRL.png') 16 16, auto !important;
}

body.componentsF * {
  cursor: url('componentsF.png') 16 16, auto !important;
}

body.boxesF * {
  cursor: url('boxesF.png') 16 16, auto !important;
}

body.mansF * {
  cursor: url('mansF.png') 16 16, auto !important;
}

body.furnaceF * {
  cursor: url('furnaceF.png') 16 16, auto !important;
}

body.factoryF * {
  cursor: url('factoryF.png') 16 16, auto !important;
}

body.bulldozerF * {
  cursor: url('bulldozerF.png') 16 16, auto !important;
}

body.drillsF * {
  cursor: url('drillsF.png') 16 16, auto !important;
}

body.componentsF * {
  cursor: url('componentsF.png') 16 16, auto !important;
}

body.wallF * {
  cursor: url('wallF.png') 16 16, auto !important;
}


/* Для ячейки с контентом "contentEmpty" */
.contentEmpty {
    background-image: url('contentEmpty.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #127852;
}

/* Для ячейки с инструментом "Ruins" */
.Ruins {
    background-image: url('Ruins.png'); /* Примерный файл */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #290000;
}

/* Для ячейки с контентом "Iron" */
.Iron {
    background-image: url('Iron.png'); /* Примерный файл */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
}

/* Для ячейки с контентом "Coal" */
.Coal {
    background-image: url('Coal.png'); /* Примерный файл */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #474747;
}

/* Для ячейки с контентом "Update" или "Null" */
.Update {
    background-image: url('Update.png'); /* Примерный файл */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #035a66;
}

/* Для всех остальных ячеек */
.default {
    background-image: url('default.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
}

/* Для ячейки с инструментом "Ruins" */
.Space {
    background-image: url('Space.png'); /* Примерный файл */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #290000;
}












@keyframes signalPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


